# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Saisho/v15/.suo
.vs/Saisho/v15/Browse.VC.opendb
.vs/Saisho/v15/ipch/AutoPCH/cc4caab151764db7/MAIN.ipch
.vs/Saisho/v15/.suo
.vs/Saisho/v15/ipch/AutoPCH/cc4caab151764db7/MAIN.ipch
.vs/Saisho/v15/.suo
.vs/Saisho/v15/ipch/AutoPCH/cc4caab151764db7/MAIN.ipch
.vs/Saisho/v15/Browse.VC.db
.vs/Saisho/v15/ipch/AutoPCH/cc4caab151764db7/MAIN.ipch
Debug/SaishoCore.ilk
Debug/SaishoCore.pdb
SaishoCore/Debug/SaishoCore.tlog/link.read.1.tlog
SaishoCore/Debug/vc141.idb
SaishoCore/Debug/vc141.pdb
